In [158]:
import pandas as pd
import numpy as np
import pickle
import warnings

In [165]:
info = {'type_of_property': 'house', 'postal_code' : 2100,  'bedrooms' : 3 , 'energy_class' : 'A',
'surface_of_the_plot': 230, 'living_room_surface' : 20, 'number_of_frontages' : 2,
'building_condition': 'As New', 'bathrooms' : 2, 'toilets':2, 'kitchen_type': 'Installed' , 'heating_type' : 'Gas', 'province' :'East Flanders'}

data = pd.DataFrame.from_dict(info, orient='index').T
data

,type_of_property,postal_code,bedrooms,energy_class,surface_of_the_plot,living_room_surface,number_of_frontages,building_condition,bathrooms,toilets,kitchen_type,heating_type,province
0,house,2100,3,A,230,20,2,As New,2,2,Installed,Gas,East Flanders

In [160]:


column=[ 'type_of_property', 'building_condition', 'kitchen_type',  'province','energy_class', 'heating_type',] # catagorical
#column1 = ['Surface of the plot', 'Living room surface', ] # scaling to be

ohe = pickle.load(open(r'C:\Users\Karthick Palanivel\Documents\GitHub\Price_prediction\models\ohe.pickle', 'rb'))

one_hot_encoded_array = ohe.transform(data[column]).toarray()
print(one_hot_encoded_array)

categories = np.concatenate(ohe.categories_)
encoded_dataframe = pd.DataFrame(one_hot_encoded_array, columns=categories)
encoded_dataframe

data = data.drop(columns=[ 'type_of_property', 'building_condition', 'kitchen_type',  'province','energy_class', 'heating_type','postal_code'])
data = data.astype(int)

new = pd.concat([data,encoded_dataframe], axis=1)

minmax_scaler = pickle.load(open(r'C:\Users\Karthick Palanivel\Documents\GitHub\Price_prediction\models\minmax_scaler.pickle', 'rb'))

new[['surface_of_the_plot', 'living_room_surface']] = minmax_scaler.transform(new[['surface_of_the_plot', 'living_room_surface']])
display(new)

new=new.drop(columns=['G_F','NS','C_B','0'])
forest = pickle.load(open(r'C:\Users\Karthick Palanivel\Documents\GitHub\Price_prediction\models\forest_pickle.pickle', 'rb'))
forest.predict(new)

[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0.]]

,bedrooms,surface_of_the_plot,living_room_surface,number_of_frontages,bathrooms,toilets,apartment,bungalow,castle,chalet,...,G_F,NS,0,Carbon,Electric,Fuel oil,Gas,Pellet,Solar,Wood
0,3,0.007036,0.071429,2,2,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

c:\Users\Karthick Palanivel\Documents\GitHub\GNT-Arai-5\.venv\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['float', 'str']. An error will be raised in 1.2.
  FutureWarning,

array([436090.41])

In [161]:
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 70 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   bedrooms                                  1 non-null      int32
 1   surface_of_the_plot                       1 non-null      float64
 2   living_room_surface                       1 non-null      float64
 3   number_of_frontages                       1 non-null      int32
 4   bathrooms                                 1 non-null      int32
 5   toilets                                   1 non-null      int32
 6   apartment                                 1 non-null      float64
 7   bungalow                                  1 non-null      float64
 8   castle                                    1 non-null      float64
 9   chalet                                    1 non-null      float64
 10  country-cottage                           1 non-null      float64
 11  duplex                                    1 non-null      float64
 12  exceptional-property                      1 non-null      float64
 13  farmhouse                                 1 non-null      float64
 14  flat-studio                               1 non-null      float64
 15  ground-floor                              1 non-null      float64
 16  house                                     1 non-null      float64
 17  kot                                       1 non-null      float64
 18  loft                                      1 non-null      float64
 19  manor-house                               1 non-null      float64
 20  mansion                                   1 non-null      float64
 21  mixed-use-building                        1 non-null      float64
 22  other-property                            1 non-null      float64
 23  penthouse                                 1 non-null      float64
 24  service-flat                              1 non-null      float64
 25  town-house                                1 non-null      float64
 26  triplex                                   1 non-null      float64
 27  villa                                     1 non-null      float64
 28  As new                                    1 non-null      float64
 29  Good                                      1 non-null      float64
 30  Just renovated                            1 non-null      float64
 31  To be done up                             1 non-null      float64
 32  To renovate                               1 non-null      float64
 33  To restore                                1 non-null      float64
 34  Hyper equipped                            1 non-null      float64
 35  Installed                                 1 non-null      float64
 36  Not installed                             1 non-null      float64
 37  Semi equipped                             1 non-null      float64
 38  USA hyper equipped                        1 non-null      float64
 39  USA installed                             1 non-null      float64
 40  USA semi equipped                         1 non-null      float64
 41  USA uninstalled                           1 non-null      float64
 42  Antwerp                                   1 non-null      float64
 43  Brussels Capital Region                   1 non-null      float64
 44  East Flanders                             1 non-null      float64
 45  Flemish Brabant                           1 non-null      float64
 46  Hainaut (West)                            1 non-null      float64
 47  Limburg                                   1 non-null      float64
 48  Liège                                     1 non-null      float64
 49  Luxembourg (shared with Eastern Hainaut)  1 non-null      float64
 50  Namur                                     1 non-null      float64
 51  Walloon Brabant                           1 non-null      float64
 52  West Flanders                             1 non-null      float64
 53  nan                                       1 non-null      float64
 54  A                                         1 non-null      float64
 55  A+                                        1 non-null      float64
 56  A++                                       1 non-null      float64
 57  B                                         1 non-null      float64
 58  C                                         1 non-null      float64
 59  D                                         1 non-null      float64
 60  E                                         1 non-null      float64
 61  F                                         1 non-null      float64
 62  G                                         1 non-null      float64
 63  Carbon                                    1 non-null      float64
 64  Electric                                  1 non-null      float64
 65  Fuel oil                                  1 non-null      float64
 66  Gas                                       1 non-null      float64
 67  Pellet                                    1 non-null      float64
 68  Solar                                     1 non-null      float64
 69  Wood                                      1 non-null      float64
dtypes: float64(66), int32(4)
memory usage: 672.0 bytes

In [169]:
a = [1]
b=np.array(a)
print(a[0])
print(b[0])
print(type(a))
print(type(b))

1
1
<class 'list'>
<class 'numpy.ndarray'>